APP_NAME=IA_MVP
APP_VERSION=0.1.0
DEBUG=false

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=Olnatura.25
DATABASE_NAME=ia_mvp

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=qwen3:8b